.friends {
  display: flex;
  height: 80vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  height: 100%;
  width: 48%;
  margin-left: 2%;
  font-size: large;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  height: 100%;
  width: 48%;
  margin-right: 2%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  color: blue;
}

a:hover {
  color: lightgrey;
}

@media only screen and (max-width: 600px) {
  .right {
    font-size: 12px;
  }
}
