@font-face {
  font-family: 'dacasaregular';
  src: url('../font/dacasa-webfont.woff2') format('woff2'),
       url('../font/dacasa-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.wrapper {
  font-family: 'dacasaregular', Arial, sans-serif;
  text-align: center;
}

.name {
  font-size: calc(45px + 5vw);
  font-weight: normal;
  margin-top: 5%;
  margin-bottom: 0;
}

.logo img {
  width: calc(15% + 2vw);
}

.slogan {
  font-size: calc(20px + 2vw);
  font-weight: normal;
  letter-spacing: 2px;
}

