@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

@font-face {
  font-family: 'dacasaregular';
  src: url('../font/dacasa-webfont.woff2') format('woff2'),
       url('../font/dacasa-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.form-container {
  margin-top: 5%;
}

.register-form {
  font-family: 'Inter', sans-serif;
  display: flex;
  width: 40%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.form-input {
  width: 100%;
  margin: 1%;
  padding: 2%;
  border: 1px solid orange;
  border-radius: 5px;
}

.form-btn {
  font-family: 'Inter', sans-serif;
  width: 30%;
  margin: 5% auto;
  background-color: orange;
  border: 2px solid black;
  font-family: 'dacasaregular', Arial, sans-serif;
  font-size: calc(16px + 1.5vw);
  letter-spacing: 3px;
  border-radius: 15px;
}

.form-btn:hover {
  cursor: pointer;
}

.form-btn:active {
  outline: none;
  transform: translateY(3px); 
}

.logo img {
  display: block;
  width: calc(10% + 2vw);
  margin: 1% auto;
}