.video-item {
    display: flex !important;
    font-family: 'Comfortaa', cursive;
    align-items: center !important;
    margin-left: 125px;
    cursor: pointer;
}

.video-item.item img {
    max-width: 280px;
    margin-left: 115px;
    align-items: center !important;
}

.embed {
	margin-bottom: -40px;
    margin-left: 145px;
    align-items: center !important;
}

.ui.header {
	font-family: 'Comfortaa', cursive;
    align-items: center !important;
}

.ui.segment {
	margin-top: 55px;
	margin-bottom: 15px;
    margin-left: 125px;
    font-family: 'Comfortaa', cursive;
    align-items: center !important;
}